.container {
    position: absolute;
    background: rgba(0, 0, 0, 0.0001);
}

.menu {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
}

.menu-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-left: 72px;
    margin-top: 25.5px;

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.menu-item {
    display: inline-block;
}

.menu-link-selected {
    margin-left: 430px;
}

.full-screen-img {
    width: 100%;
    margin-top: 25.5px;
}

.main-slogan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 49px;
    margin-left: 400px;
    margin-right: 253px;

    color: #373737;
}

.first-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;

    color: #373737;
}

.second-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-top: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;

    color: #373737;
}

.btn {
    background: #FF0000;
    border-radius: 4px;
    margin-top: 66px;
    margin-bottom: 42px;
    margin-right: 544.5px;
    margin-left: 644.5px;
    border: none;
}

.btn-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 43.5px;

    color: #FFFFFF;
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    margin-top: 40px;
    margin-bottom: 29px;
    margin-left: 920px;
    margin-right: 105px;

    color: #373737;
}